@font-face{
    font-family: 'codaCaption';
    src: url('./fonts/CodaCaption-Heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'noto';
    src: url('./fonts/NotoSerifTC-Black.otf') format('opentype')
}


body{
    width:200%;
}

*{
    box-sizing:border-box;
}
/* 那三條底片的box */
.box_forkoda{
    margin-top: 1.5%;
    margin-left: 10%;
}

.box_forlomo{
    margin-top: 1%;
    margin-left: 10%;
}

.box_for500t{
    margin-top: 1%;
    margin-left: 10%;
}

/* 回主頁的相機 */
.img_oly{
    width: 15%;
    margin-top: 5%;
    margin-left: -10px;
    position: absolute;
    
}

.flim_size{
    width: 2.7%;
    margin-right: 10px;  /* 片殼跟相片多一點間隔 */
}

/* 圖片跟文字致中的部分 */

/* .box_forcenter{
    display: flex;
    justify-content:center; 

} */


.img1_size{
    width: 7%;
    /* height: 7%; */
    border-radius: 7%;
    padding-right: 0.3%;
    /* display: flex;
    flex-flow: nowrap; */   
    transition: transform 0.7s;
    
}


/* 文字的部分 */
.box_text{
    margin-left: 10%;
    /* padding-bottom:1%;  */
}
.text1{
    font-family: codaCaption;
    font-size: 8pt;
}

.text2{
    font-family: codaCaption;
    font-size: 8pt;
}

.text3{
    font-family: codaCaption;
    font-size: 8pt;
}



.img1_size:hover{
	transform: scale(1.2);
}